nextflow.enable.dsl=2
cleanup = true

process {
	resourceLimits = [cpus: 24,memory: '1250GB', time: '2d']
	maxRetries = 5

	executor = 'slurm'
	cpus  = {1 * task.attempt}
	memory = {'10 GB' * task.attempt}
	time   = {'30m' * task.attempt}

	withName: SNV_CONTEXT {
	cpus   = {2 * task.attempt}
	memory = {'100 GB' * task.attempt} 
	time   = {'6h' * task.attempt}
	}

	withName: INDEL_CONTEXT {
	cpus   = {2 * task.attempt}
	memory = {'50 GB' * task.attempt}
	time   = {'4h' * task.attempt}
	}

	withName: MERGE_CONTEXT {
	cpus   = {2 * task.attempt}
	memory = {'250 GB' * task.attempt}
	time   = {'4h' * task.attempt}
	}
}

params {
	samplesheet = null
	output_dir = 'results'
	snpeff_jar = '/home/nboev/projects/def-sushant/nboev/tools/snpEff/snpEff'
	snpeff_genome = 'GRCh38.99'
	snpeff_phast = '/home/nboev/projects/def-sushant/nboev/tools/snpEff/snpEff/db/phastCons_hg38'
	kmer_file = '/home/nboev/projects/def-sushant/nboev/data/refgenome/Jellyfish/11mer_hg38/DNAShape/DNAShape_11.hg38.kmer.tsv'
	ref_fasta = '/home/nboev/projects/def-sushant/nboev/data/refgenome/hg38.fa'
	chrlist = '/home/nboev/projects/def-sushant/nboev/data/refgenome/Homochrs.txt'
	flank_size = '5'
}
