nextflow.enable.dsl=2
cleanup = true

params {
	input = null
	output_dir = 'results'
	snpeff_jar = '/home/nboev/projects/def-sushant/nboev/tools/snpEff/snpEff'
	snpeff_genome = 'GRCh38.99'
	snpeff_phast = '/home/nboev/projects/def-sushant/nboev/tools/snpEff/snpEff/db/phastCons_hg38'
	kmer_file = '/home/nboev/projects/def-sushant/nboev/data/refgenome/Jellyfish/11mer_hg38/DNAShape/DNAShape_11.hg38.kmer.tsv'
	ref_fasta = '/home/nboev/projects/def-sushant/nboev/data/refgenome/hg38.fa'
	chrlist = '/home/nboev/projects/def-sushant/nboev/data/refgenome/Homochrs.txt'
	flank_size = '5'
}
